---
layout: default
title: 태그
nav: tags
permalink: /tags/
---
<section class="hero"><h1>태그</h1><p>주제별로 글을 모아봤어요.</p></section>

<div class="tag-cloud">
  {% assign sorted_tags = site.tags | sort %}
  {% for tag in sorted_tags %}
  <a class="tag-chip" href="#{{ tag[0] | slugify }}">{{ tag[0] }} <span>{{ tag[1] | size }}</span></a>
  {% endfor %}
</div>

{% for tag in sorted_tags %}
<div class="sec-head" id="{{ tag[0] | slugify }}"><h2>{{ tag[0] }}</h2><span class="line"></span></div>
<ul class="archive-list">
  {% for post in tag[1] %}
  <li>
    <a href="{{ post.url | relative_url }}">
      <span class="a-date">{{ post.date | date: "%Y.%m.%d" }}</span>
      <span class="a-title">{{ post.title }}</span>
    </a>
  </li>
  {% endfor %}
</ul>
{% endfor %}
